<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cebusqa.kodakverite">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".KodakVeriteApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="Kodak Verite"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EasySetupMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HM10_000"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IL10_000"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CP10_000"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DS_print"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DS_device"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DS_scan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DS10_000"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageCropper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SP_000"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scan_Doc_Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scan_Photo_Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NetworkStatus_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PU00_0000"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CS00_000"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CS00_001"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CS00_002"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CS00_003"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CS00_002_Help"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoScanMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_000"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_010"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_011"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_012"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_013"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_012H"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_015"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_016"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_014"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Clean_Printhead"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Print_Reports"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocumentScan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocumentScan2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_020"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_030"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_040"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_050"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WS00_060"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaperSetup_000"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeviceSleepTime_000"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Restore_Factory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GoogleCloudPrint"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GcpStatus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GcpRegisterUnregister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AirPrint"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GcpEnableDisable"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SoftwareUpdate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdatePrinterSoftware"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoPrintDirs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoPrintPics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlickPrint"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlickPrintOut"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiplePrintQueue"
            android:screenOrientation="portrait" />

        <activity android:name=".PagesPerSideDialog">

        </activity>

        <activity
            android:name=".ImageCropper2"
            android:screenOrientation="portrait" />

        <activity android:name=".Fragment_ES30_050_A"
            android:screenOrientation="portrait" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>